@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  margin: 20px 60px;
}

a {
  text-decoration: none;
  color: #1f8a70;
}

nav {
  padding: 1rem;
  background-color: #1f8a70;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #1f8a70;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

button {
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.about_section {
  margin-top: 4rem;
}

.about_section h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.about_section p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px 30px;
  }
}

@media screen and (max-width: 425px) {
  body {
    margin: 5px 15px;
  }
  .drop-container {
    height: 300px;
  }
  .about_section p {
    font-size: 1rem;
  }
  .about_section h2 {
    font-size: 1rem;
  }
}

li {
  margin-bottom: 1rem;
  list-style-position: inside;
  text-indent: 1rem;
}

.brand-text {
  font-weight: bold;
  color: #1f8a70;
}
